/* Resetting default browser styles */

/* Reset margins and padding on all elements */
* {
    margin: 0;
    padding: 0;
}

/* Resetting list styles for ul and ol */
ul, ol {
    list-style: none;
    padding: 0;
}

/* Resetting anchor (a) styles */
a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
}

/* Resetting heading margins */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Resetting form elements */
input, button, select, fontarea {
    border: none;
    outline: none;
}


/* global variables*/
:root{
    --background-body: #e1d4c9;
    --background-container: #665f55;
    --border-dark: #665f55;
    --border-light: #c1b6ad;
    --fontcolor-accent:#b0907a;
    --fontcolor-dark:#403f3d;
    --fontcolor-light: #e1d4c9;
    --fontfam:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --fontsize-title-sections: 60px;
    --fontsize-hero: 72px;
    --fontsize-btn-body:10px;
    --fontsize-btn-title: 16px;
    --fontsize-title-content: 24px;
    --fontsize-content: 16px;
    --fontweight-bold:600;
    --fontweight-normal:300;

}

/** general ***/
body{
    display: flex;
    flex-direction: column;
    background-color: var(--background-body);
    font-family: var(--fontfam);
    max-width:100vw;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

section, .menu{
    margin: 20px 40px 0;
    height: max-content;
    max-width: 100%;
    justify-content: center;
}

.btn{
    background-color: var(--fontcolor-light);
    border:1px solid var(--border-dark);
    box-sizing: border-box;
}

.btn__container{
    display: flex;
    gap: 20px;
}

.btn__icon{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.btn__icon--dark{
    background-color: var(--background-container);
    color:var(--fontcolor-light);
    border: 1px solid var(--fontcolor-light);

}

.btn__icontxt{
    width: 200px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    padding: 12px 20px;
}

.btn__text{
    display: flex;
    flex-direction: column;
}

.btn__text--small{
    font-size: var(--fontsize-btn-body);
}

.btn__text--big{
    font-size: var(--fontsize-btn-title);
}

/** menu **/
.menu{
    display: flex;
    justify-content: space-between;
}

.logo{
    position: relative;
    width: 100px;
    height: 60px;
    text-align: center;
}


.dropdown{
    line-height: 60px;
}

.dropdown:hover{
    border-bottom: 2px solid var(--fontcolor-dark);
}


.dropdown__img{
    display: inline-block;
    position: relative;
    top: 2px;
}

.nav
{
    display:flex;
    gap:40px;
}

.nav__item{
    line-height: 60px;
}

.hero{
    margin-top:20px;
    background-image: url("images/img-hero.png");  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 40px;
    max-width: 100%;
}

.hero > .hero__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding:100px;
    color: var(--fontcolor-light);
    width: 530px;
    align-items: flex-start;
}

.hero__content > .hero__title{
    font-size: var(--fontsize-hero);
    font-weight: 500;
    line-height: 88%;
    color: var(--fontcolor-light);
}

.title--highlighted{
    color: var(--fontcolor-accent);
    font-style: italic;
    font-size: inherit;
    line-height: 70px;
}

.hero__body{
    font-weight: var(--fontweight-normal);
}

.hero__cta{
    width: 200px;
    border-radius: 100px;
    padding: 20px 78px;
    background-color: var(--background-body);
}


/*****Section Favorite COFFEE *****/
.salescopy--dark{
    text-align: center;
    color: var(--fontcolor-dark);
    font-size: 60px;
    font-family: var(--fontfam);
    line-height: 70px;
}

.salescopy--light{
    color: var(--fontcolor-light);
    font-size: 60px;
    font-family: var(--fontfam);
    line-height: 70px;
}


.salescopy--left{
    color: var(--fontcolor-dark);
    font-size: 60px;
    font-family: var(--fontfam);
    line-height: 70px;
}

.container__slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 480px;
    position: relative;
    margin: auto;
    height: fit-content;
    overflow: hidden;
}

.slider__list {
    width:max-content;
    max-width: 100vw;
    height: 100%;
    text-align: center;
    display: flex;
    position:relative;
    margin: auto;
    left: 20px;

}

.slider__item{
    width:480px;
    align-items: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.slider__title{
    font-size: var(--fontsize-title-content);
    color:var(--fontcolor-dark);
    font-weight: var(--fontweight-bold);
}

.slider__img {
   width:480px;
}

.slider__body{
    font-weight: var(--fontweight-normal);
}

.slider__nav{
    display:flex;
    gap: 12px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;

}

.slider__dot{
    width: 40px;
    height: 4px;;
    cursor:pointer;
    border-radius: 100px;
    background-color: var(--border-light);
}

.slider__dot--active{
    background-color: var(--fontcolor-dark);
}

#favorite_coffee{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/**** section about ***/
#about{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.salescopy--left{
    color: var(--fontcolor-dark);
    font-size: 60px;
    font-family: var(--fontfam);
}

.about__images{
    display: flex;
    gap: 40px;
    max-width: 100vw;
    justify-content: center;
}
 .about__left, .about__right{
    display: flex;
    flex-direction: column;
    gap:40px;
    max-width: 100%;
 }

.about__left > *, .about__right > * {
    border-radius: 20px ;
    object-fit: cover;
}

.about__img--big{
    max-width: 100%;
    height: 590px;
    font-size: var(--fontsize-btn-title);
}

.about__img--small{
    max-width: 100%;
    height: 430px;
}

/*** section Mobile app **/
.container__split{
    display: flex;
    gap:40px;
    max-width: 100%;
}

.mobile__img{
    width: 50%;
    max-width: 1000px;
}

.split__left, .split__right{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

.split__right{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    width: 100%;
}

/*** section Contact ***/
#contact{
    background-color: var(--background-container);
    color:var(--fontcolor-light);
    border-radius: 40px;
    margin-bottom:40px;
}

.container__split--margin{
    margin:100px;
}

.container__btn{
    display: flex;
    gap:12px;
}

.contactinfo > *{
    font-size: 16px;
}
.contactinfo > .contactinfo__title{
    font-size: 24px;
}

